<h1>Index usuarios</h1>

<table>
	<tr>
		<th>Nombre</th>
		<th>Edad</th>
		<th>Email</th>
	</tr>
	<% @usuarios.each do |usuario| %>
		<tr>
			<td><%= usuario.nombre %></td>
			<td><%= usuario.edad %></td>
			<td><%= usuario.email %></td>
			<td><a href= "/usuarios/<%= usuario.id %>">show</a></td>
			<td><a href= "/usuarios/edit/<%= usuario.id %>">edit</a></td>
		</tr>
	<% end %>
</table>
<br/>
<a href="/usuarios/new">new</a>